$checkedColor: #1a85ff;
$disabledCheckedColor: #1a85ff;
$disabledBorderColor: rgb(224, 224, 230);
$disabledBgColor: rgb(250, 250, 252);
.lee-radio {
  position: relative;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
}

.lee-radio-point {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px #e3e3e3;
  transition: all ease-in 0.2s;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  &::before {
    transition: all ease-in 0.2s;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    width: 8px;
    height: 8px;
    background: transparent;
    border-radius: 50%;
  }
  &:hover {
    box-shadow: inset 0 0 0 1px $checkedColor;
  }
}

.lee-radio-checked {
  box-shadow: inset 0 0 0 1px $checkedColor;
  &::before {
    background: $checkedColor;
  }
}

.lee-radio-label {
  margin: 0 6px;
  vertical-align: middle;
  white-space: pre;
}

.lee-radio-disabled {
  cursor: not-allowed;
  .lee-radio-point {
    background: $disabledBgColor;
    &:hover {
      box-shadow: inset 0 0 0 1px #e3e3e3;
    }
  }
  .lee-radio-checked {
    box-shadow: inset 0 0 0 1px $disabledBorderColor;
    &::before {
      background: $disabledBorderColor;
    }
  }
}
