$primaryColor: #1184f5;
$defaultBorderColor: #dedede;
.lee-select-container {
  box-sizing: border-box;
  display: inline-flex;
  width: 100%;
  font-size: 14px;
  border: 1px solid $defaultBorderColor;
  border-radius: 4px;
  text-align: left;
  position: relative;
  cursor: pointer;
  min-height: 32px;
  transition: border-color 0.2s ease;
  outline: 0;
  padding: 6px 10px;
  background: #fff;
  justify-content: space-between;
  align-items: center;
  &:hover,
  &:focus {
    border-color: $primaryColor;
  }
}

.lee-select-disabled {
  cursor: not-allowed;
  background: #f6f6f6;
  &:hover,
  &:focus {
    border-color: $defaultBorderColor;
  }
}

.lee-select-arrow-icon {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  color: $defaultBorderColor;
}

.lee-select-selected-icon {
  flex-shrink: 0;
  margin-left: 8px;
  width: 16px;
  height: 16px;
  color: $primaryColor;
}

.lee-select-clear-icon {
  border-radius: 50%;
  background: #d0d0d0;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    background: #b7b7b7;
  }
  & > svg {
    transform: scale(0.6);
  }
}

.lee-select-input {
  outline: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lee-select-multi-input {
  outline: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -4px;
}

.lee-select-selected-item {
  display: flex;
  border: 1px solid $defaultBorderColor;
  align-items: center;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 4px;
  border-radius: 2px;
  background: #f6f6f6;
  cursor: default;
  margin-right: 6px;
  margin-bottom: 4px;
  & > .lee-select-clear-icon {
    margin-left: 6px;
  }
}

.lee-select-options-wrapper {
  box-sizing: border-box;
  max-height: 300px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  padding: 6px 4px;
  border-radius: 6px;
  background: #fff;
  overflow: auto;
}

.lee-select-option-item {
  color: #333333;
  padding: 6px;
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: color 0.2s linear;
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  &__selected {
    color: $primaryColor;
  }
}

.lee-select-placeholder {
  color: $defaultBorderColor;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  padding: 0 10px;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.lee-select-fade-enter-active,
.lee-select-fade-leave-active {
  transition: opacity 0.2s ease;
}

.lee-select-fade-enter-from,
.lee-select-fade-leave-to {
  opacity: 0;
}
