$cellName: 'lee-timeline-cell-';
.lee {
  &-timeline-item {
    display: table-row;
  }
  &-timeline-cell {
    display: table-cell;
    position: relative;
    padding-bottom: 20px;
    & [class*='#{$cellName}']:not(:first-child) {
      margin-top: 4px;
    }
    &-title {
      font-weight: bold;
      font-size: 14px;
    }
    &-content {
      font-size: 14px;
      white-space: pre-line;
    }
    &-time {
      font-size: 12px;
      font-weight: 500;
      color: #868686;
    }
  }
  &-timeline-left-cell {
    text-align: right;
  }
  &-timeline-right-cell {
    text-align: left;
  }
  &-timeline-dot {
    width: 8px;
    height: 8px;
    margin: 0 auto;
    background: #fff;
    border: 2px solid #00a9fc;
    border-radius: 50%;
  }
  &-timeline-line {
    position: absolute;
    left: 50%;
    width: 1px;
    height: 100%;
    transform: translateX(-50%);
    background: #cecece;
  }

  &-h-timeline-item {
    display: inline-block;
    vertical-align: top;
  }
  &-h-timeline-cell {
    position: relative;
    padding-right: 30px;
    text-align: left;
  }
  &-h-timeline-dot {
    & ~ [class*='#{$cellName}']:not(:last-child) {
      margin-bottom: 4px;
    }
    width: 8px;
    height: 8px;
    background: #fff;
    border: 2px solid #00a9fc;
    border-radius: 50%;
  }
  &-h-timeline-line {
    position: absolute;
    top: 5px;
    width: 100%;
    height: 1px;
    background: #cecece;
  }
}
